@import "fonts";


$second-font: 'Roboto Condensed', sans-serif;
$main-font: 'Roboto', sans-serif;
$white: #ffffff;
$green: #829e15;
$black: #000000;
$red: #E11005;
$grey-text: #555770;


body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;

}

//
//::-webkit-scrollbar {
//  width: 4px;
//  height: 4px;
//  background: $light-white;
//  border: 3px solid $light-white;
//  border-radius: 10px;
//  box-shadow: 0 0 0 3px $light-white;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  background: $light-white;
//  border-radius: 10px;
//  width: 4px;
//
//  box-sizing: border-box;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: $light-c7;
//  border-radius: 10px;
//  width: 4px;
//
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: #959595;
//}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;

  body {
    height: auto;
  }
}

.wrapper,
body {
  height: 100%;
}

main {
  flex-grow: 1;
  //transition: padding-top 0.4s ease;

}

main.video-main {
  flex-grow: 0;
}

.content {
  flex: 1 0 auto;
  position: relative;
}

p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
}

.footer {
  flex-shrink: 0;
  position: relative;
}

.container {
  width: 100%;


  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;

}

header, footer {
  width: 100%;
}

header {
  z-index: 100;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background: $white;

  &.cart-open {
    .container {
      position: relative;
    }
    .cart-mini {
      display: flex;
    }
  }
}
.cart-mini {
  position: absolute;
  background: $white;
  right: 20px;
  top: 100%;
  margin-top: 16px;
  border-radius: 4px;
  padding: 12px 6px;
  box-sizing: border-box;
  width: 300px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  span {
    font-family: $second-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #000;

  }
}

.cart-mini__line {
  width: 100%;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  &:last-child {
    border-bottom: none;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 12px;

    &:hover {
      text-decoration: underline;
    }
    .img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-right: 8px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-family: $main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #555770;
      text-decoration: none;
      width: 100%;
      max-width: 484px;
    }
  }
  .btn {
    margin-left: auto;
  }
}

.header {
  width: 100%;
  padding: 11px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home {
  width: 197px;
  height: 38px;
  flex-shrink: 0;
  text-decoration: none;
  margin-right: 20px;

  img {
    width: 100%;
    height: 100%;
  }
}

.burger-menu {
  display: none;
  width: 26px;
  height: 18px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;

  span {
    width: 100%;
    height: 2px;
    background: $green;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  }

  &.active {
    span {
      &:nth-child(1) {
        transform: translate(0, 8px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translate(0, -8px) rotate(-45deg);
      }
    }
  }

  &:hover {
    span {
      background: $black;
    }
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-left: 0;
    justify-content: flex-start;

    li {
      margin-right: 15px;

      a {

        font-family: $second-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        transition: text-decoration 0.3s ease, opacity 0.3s ease;

        &.active {
          color: $green;
        }

        &:hover {

          color: $green;
          transition: color 0.3s ease;

        }
      }
    }
  }
}

.header__control {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  border: 2px solid $green;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2px 10px;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  height: 32px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000000;
  span {
    display: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    color: #FFFFFF;
    background: $black;

  }
  &.not-empty {
    span {
      display: flex;
    }
    color: $white;
    background: $green;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

    svg {
      path {
        fill: $white;
      }
    }
  }
  svg {
    width: 16px;
    height: 16px;

    path {
      fill: $black;
    }
  }

  &.active {
    color: $white;
    background: $green;
  }

  &:hover {
    color: $white;
    background: $green;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

    svg {
      path {
        fill: $white;
      }
    }
  }

  &--black {
    background: #1A1A1A;
    border-color: #1A1A1A;
    color: $green;

    &:hover {
      color: $black;
      border-color: $green;
      background: $green;
    }
  }
  &.cart-remove {
    border: 1px solid #E11005;
    transition: background-color 0.3s ease;
    padding: 2px;
    height: 24px;
    width: 24px;
    svg {
      width: 15px;
      height: 15px;
      path {
        stroke: #E11005;
        transition: stroke 0.3s ease;
      }
    }
    &:hover {
      background: #E11005;
      transition: background-color 0.3s ease;

      svg {
        path {
          stroke: white;
          transition: stroke 0.3s ease;
        }
      }
    }
  }
  &--red {
    background: #E11005;
    border-radius: 4px;
    border: 1px solid #E11005;
    transition: color 0.3s ease, background-color 0.3s ease;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;

      path {
        fill: $white;
      }
    }

    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
      background: $white;
      color: #E11005;
      transition: color 0.3s ease, background-color 0.3s ease;

      svg {
        path {
          fill: #E11005;
          transition: fill 0.3s ease;
        }
      }
    }
  }

}

.modal-window {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(15px);
  //display: flex;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  &.open {
    display: flex;
  }

  &__hall {
    .modal-container {
      height: 100%;
      display: flex;

      .modal-hall {
        max-height: 100%;
        margin: auto 0;
        padding: 20px 0;
        box-sizing: border-box;
      }
    }
  }
}

.modal-container {
  margin: auto 20px;

}

.modal-start {
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
}

.modal-start__head {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 45px 140px 38px;
  border-bottom: 1px solid #DEDEDE;
  position: relative;
  .modal-close {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  h1 {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    color: $black;
    margin-bottom: 11px;

    strong {
      font-weight: bold;
      color: $green;
      text-align: center;
    }
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: $grey-text;
  }
}

.modal-start__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.modal-start__left {
  width: 50%;
  box-sizing: border-box;
  padding: 90px 71px 90px 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p {
    width: 100%;
    text-align: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $grey-text;
    margin-top: 15px;
  }

  a {
    width: 100%;
    text-align: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: $green;

    &:hover {
      color: $black;
    }
  }

  form {
    box-sizing: border-box;
    width: 100%;
    max-width: 265px;

    .btn {
      width: 100%;
      height: 47px;


    }

    label {
      width: 100%;
      margin-bottom: 15px;

      span {
        width: 100%;
        display: inline-block;
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0.2px;
        color: $grey-text;
      }

      input {
        margin-bottom: 15px;
        background: rgba(142, 144, 166, 0.16);
        border-radius: 8px;
        width: 100%;
        padding: 8px;
        font-family: $main-font;
        box-sizing: border-box;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        outline: none;
        border: none;
        color: #8E90A6;
        margin-top: 2px;

        &::placeholder {
          font-family: $main-font;
          box-sizing: border-box;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 150%;
          color: #8E90A6;
        }

      }
    }
  }

}

.modal-start__right {
  width: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home-video-banner {
  width: 100%;
  height: 100%;
  position: relative;

  .video-container {
    width: 100%;
    height: 100%;

    video, img {
      width: 100%;
      height: auto;
    }

    .exhibition-stand {
      position: absolute;

      &--1 {
        left: 17.7%;
        top: 20.68%;
        width: 61.94%;
        height: 68.51%;
      }
      &--2 {
        left: 19.791%;
        top: 9.09%;
        width: 58.194%;
        height: 82.74%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .exhibition-human {
      position: absolute;

      &--1 {
        left: 12.652%;
        top: 47.957%;
        width: 12.291%;
        height: 43.741%;
      }

      &--2 {
        right: 16.333%;
        top: 47.562%;
        width: 15.972%;
        height: 44.532%;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }


  }

  .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .full-link-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    a {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .exhibition-date {
    position: absolute;

    &--1 {
      left: 37.569%;
      top: 16.864%;
      width: 19.513%;
      height: 14.492%;
    }

    a {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  .lobby-banner {
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &--1 {
      left: 56.736%;
      top: 19.901%;
      width: 7.986%;
      height: 11.001%;
    }

    &--2 {
      left: 65%;
      top: 19.901%;
      width: 7.986%;
      height: 11.001%;
    }

    &--3 {
      left: 56.736%;
      top: 32.014%;
      width: 7.986%;
      height: 11.001%;
    }

    &--4 {
      left: 65%;
      top: 32.014%;
      width: 7.986%;
      height: 11.001%;
    }
    &--5 {
      left: 27.986%;
      top: 16.563%;
      width: 10.208%;
      height: 8.158%;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--6 {
      left: 42.361%;
      top: 16.563%;
      width: 10.208%;
      height: 8.158%;

    }
  }
  .persp {
    &--1 {
      perspective: 500px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(3deg) skewy(-16deg);
      }
    }
    &--2 {
      perspective: 600px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(-24deg) skewy(11deg);
      }
    }
    &--3 {
      perspective: 300px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(0deg) skewX(4.5deg) skewy(0deg) rotateX(-4deg);
      }
    }
    &--4 {
      perspective: 300px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(0deg) skewX(-4.5deg) skewy(0deg) rotateX(-4deg);
      }
    }
    &--5 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(9deg) skewX(9deg) skewy(-21deg) rotateX(0deg);
      }
    }
    &--6 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(-9deg) skewX(-9deg) skewy(21deg) rotateX(0deg);
      }
    }
    &--7 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(10deg) skewX(6deg) skewy(-19deg) rotateX(0deg);
      }
    }
    &--8 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(-10deg) skewX(-6deg) skewy(19deg) rotateX(0deg);
      }
    }
    &--9 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(17deg) skewX(4deg) skewy(-17deg) rotateX(0deg);
      }
    }
    &--10 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(-17deg) skewX(-4deg) skewy(17deg) rotateX(0deg);
      }
    }
    &--11 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(6deg) skewX(0deg) skewy(-4deg) rotateX(0deg);
      }
    }
    &--12 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(-6deg) skewX(0deg) skewy(4deg) rotateX(0deg);
      }
    }
    &--13 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(4deg) skewX(1deg) skewy(-6.2deg) rotateX(0deg);
      }
    }
    &--14 {
      perspective: 200px;

      &.ex-banner {
        background: none;
        box-shadow: none;
      }

      .ex-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform:  rotateY(-4deg) skewX(-2deg) skewy(7.4deg) rotateX(0deg);
      }
    }
  }
  .ex-banner {
    position: absolute;
    //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

    a {
      width: 100%;
      height: 100%;
      display: inline-block;

      img {
        width: 100%;
        height: 100%;
      }
    }
    &--1 {
      left: 11.736%;
      top: 28.901%;
      width: 6.986%;
      height: 6.001%;
    }
    &--2 {
      right: 4.736%;
      top: 26.401%;
      width: 15.986%;
      height: 5.001%;
    }
    &--3 {
      left: 25.391%;
      bottom: 1.622%;
      width: 10.241%;
      height: 19.493%;
    }
    &--4 {
      right: 24.891%;
      bottom: 1.622%;
      width: 10.241%;
      height: 19.493%;
    }
    &--5 {
      left: 5.977%;
      top: 52.43%;
      width: 7.047%;
      height: 7.283%;
    }
    &--6 {
      right: 6.277%;
      top: 52.43%;
      width: 7.047%;
      height: 7.283%;
    }
    &--7 {
      left: 21.594%;
      top: 38.83%;
      width: 4.047%;
      height: 5.713%;
    }
    &--8 {
      right: 22.04%;
      top: 38.7%;
      width: 3.907%;
      height: 5.513%;
    }
    &--9 {
      left: 31.984%;
      top: 30.33%;
      width: 2.507%;
      height: 4.313%;
    }
    &--10 {
      right: 32.184%;
      top: 30.43%;
      width: 2.507%;
      height: 4.313%;
    }
    &--11 {
      left: 39.914%;
      top: 26.33%;
      width: 3.607%;
      height: 3.513%;
    }
    &--12 {
      right: 40.114%;
      top: 26.33%;
      width: 3.607%;
      height: 3.513%;
    }
    &--13 {
      left: 37.814%;
      top: 38.63%;
      width: 5.807%;
      height: 5.513%;
    }
    &--14 {
      right: 35.914%;
      top: 44.63%;
      width: 6.907%;
      height: 6.513%;
    }
  }
  .lounge-banner {
    position: absolute;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
    > img {
      width: 100%;
      height: 100%;
    }

    &--1 {
      left: 16.111%;
      top: 2.105%;
      width: 13.958%;
      height: 17.894%;
    }
    &--2 {
      left: 30.694%;
      top: 2.105%;
      width: 13.958%;
      height: 17.894%;
    }
    &--3 {
      left: 45.277%;
      top: 2.105%;
      width: 13.958%;
      height: 17.894%;
    }
    &--4{
      left: 17.986%;
      top: 65.657%;
      width: 11.805%;
      height: 19.736%;
      cursor: pointer;
    }
    &--5{
      left: 56.468%;
      top:50%;
      width: 11.388%;
      height: 45.263%;
      box-shadow: none;
      background: url("../img/lounge-banner-r.png") no-repeat center;
      background-size: contain;

      box-sizing: border-box;
      ul {
        padding: 3.412% 4.536% 11.552%;
        display: flex;
        list-style: none;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;
        height: 100%;
        box-sizing: border-box;
        li {
          width: 100%;
          height: calc((100% / 4) - 3px);
          margin-bottom: 4px;
          flex-grow: 1;
          border-bottom: 1px solid #c7c7c7;
          a {
            width: 100%;
            height: 100%;
          }
          img {
            width: 100%;
            height: 100%;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &--6{
      left: 18.611%;
      top:23.026%;
      width: 38.958%;
      height: 19.210%;
      box-shadow: none;
      background: url("../img/loung-logos.png") no-repeat center;
      background-size: contain;
      display: flex;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 7.5% 2% 5%;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        align-items: stretch;
        justify-content: flex-start;
        li {
          flex-grow: 1;
          border-right: 1px solid #FFFFFF;
          &:last-child {
            border-right: none;
          }
          a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            img {
              width: 3.2vw;
              height: 3.2vw;
              flex-shrink: 0;
              margin-bottom: 4%;
            }
            p {
              font-family: $second-font;
              font-style: normal;
              font-weight: bold;
              font-size: 1vw;
              line-height: 1.1vw;
              text-align: center;
              text-transform: uppercase;

              color: #FFFFFF;
            }
          }
        }
      }


    }
  }
  .inside-lobby {
    position: absolute;

    a {
      width: 100%;
      height: 100%;
      display: flex;
    }

    img {
      width: 100%;
      height: 100%;
    }

    &--1 {
      left: 17.774%;
      top: 35.967%;
      width: 66.112%;
      height: 52.316%;
    }
    &--2 {
      left: 24.916%;
      top: 3.269%;
      width: 14.32%;
      height: 26.702%;
    }
    &--3 {
      left: 43.853%;
      top: 3.269%;
      width: 14.32%;
      height: 26.702%;
      transform: skewY(-1deg);
    }
    &--4 {
      left: 62.79%;
      top: 3.269%;
      width: 14.32%;
      height: 26.702%;
      transform: skewY(-1deg);
      cursor: pointer;
    }
  }

  .lobby-stand {
    position: absolute;

    &--1 {
      left: 40.625%;
      top: 52.627%;
      width: 41.805%;
      height: 45.364%;
    }

    &--3 {
      right: 6.6666%;
      bottom: 67.718%;
      width: 9.583%;
      height: 43.016%;
      background: url("../img/banner-top-1.png") no-repeat center;
      background-size: contain;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;

      a {
        width: calc(100% - (2.41% * 2));
        margin-left: 2.41%;
        height: 53.072%;
        display: flex;
        background: url("../img/bg-banner-top-1.svg") no-repeat center top, linear-gradient(180deg, #40AB91 0%, #667FA0 100%);
        background-size: 112%;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        justify-content: center;

        img {
          width: 50%;
          height: 38.28%;
        }

        p {
          margin-top: 10%;
          font-family: $second-font;
          font-style: normal;
          font-weight: bold;
          font-size: 1.6vw;
          line-height: 100%;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);
        }
      }
    }

    &--4 {
      right: 18.8888%;
      bottom: 68.974%;
      width: 7.569%;
      height: 33.992%;
      background: url("../img/banner-top-2.png") no-repeat center;
      background-size: contain;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;

      a {
        width: calc(100% - (2.41% * 2));
        margin-left: 2.41%;
        height: 53.072%;
        display: flex;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        justify-content: center;

        img {
          width: 50%;
          height: 38.28%;
        }

        p {
          margin-top: 7%;
          font-family: $second-font;
          font-style: normal;
          font-weight: bold;
          font-size: 1.6vw;
          line-height: 100%;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.35);

          small {
            font-weight: normal;
            font-size: 0.95vw;
          }
        }
      }

    }

    &--2 {
      right: 5.347%;
      top: 62.299%;
      width: 7.986%;
      height: 34.789%;
      background: url("../img/lobby-banner-1.png") no-repeat center;
      background-size: contain;

      ul {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        list-style: none;
        padding: 29.565% 17.869%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        li {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            width: 100%;
            height: auto;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .perspective {
    &--1 {
      perspective: 300px;

      &.img-banner {
        background: none;
      }

      .img-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(-2.2%, 0) rotateY(-8deg) skewy(2.7deg);
      }
    }

    &--6 {
      perspective: 300px;

      &.img-exhib {
        background: none;
      }

      .img-exhib {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(-2.2%, 0) rotateY(-3deg) skewy(0.7deg);
      }
    }
    &--7 {
      perspective: 500px;

      &.img-exhib {
        background: none;
      }

      .img-exhib {
        position: relative;
        box-shadow: -7px 1px 3px rgba(0, 0, 0, 0.5);
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(-2.2%,0) rotateY(9deg) skewy(-0.3deg);
      }
    }
    &--9 {
      perspective: 500px;

      &.img-exhib {
        background: none;
      }

      .img-exhib {
        position: relative;

        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(-2.2%,0) rotateY(16deg) skewy(-2.3deg);
      }
    }
    &--8 {
      perspective: 500px;

      &.img-exhib {
        background: none;
      }

      .img-exhib {
        position: relative;
        box-shadow: -7px 1px 3px rgba(0, 0, 0, 0.5);
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(-2.2%,0) rotateY(-9deg) skewy(-0.3deg);
      }
    }
    &--10 {
      perspective: 200px;

      &.img-exhib {
        background: none;
      }

      .img-exhib {
        position: relative;

        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(-2.2%,0) rotateY(-11deg) skewy(2.7deg);
      }
    }
    &--2 {
      perspective: 265px;

      &.img-banner {
        background: none;
      }

      .img-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(2.2%, 0) rotateY(6deg) skewy(-2.6deg);
      }


    }

    &--3 {
      perspective: 265px;

      &.img-banner {
        background: none;
      }

      .img-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(2.2%, 0) rotateY(16deg) skewy(-23.6deg);
      }


    }

    &--4 {
      perspective: 265px;

      &.img-banner {
        background: none;
      }

      .img-banner {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(2.2%, 0) rotateY(-13deg) skewy(24.4deg);
      }


    }

    &--5 {
      perspective: 360px;

      &.link-exhibition {
        background: none;
      }

      .link-exhibition {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
        transform: translate(2.2%, 0) rotateY(27deg) skewy(3.4deg);

      }


    }
  }

  .img-exhib {
    position: absolute;

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        //object-fit: contain;
        //transform: rotateX(0deg) rotateY(3deg);
        //transform-style: preserve-3d;
      }
    }

    &--1 {
      width: 7.4%;
      height: 32.8%;
      left: 61.319%;
      top: 46.772%;
    }
    &--5{
      top: 48.88%;
      left: 33.541%;
      width: 7.222%;
      height: 32.411%;
    }
    &--7{
      top: 51.28%;
      left: 26.671%;
      width: 5.622%;
      height: 22.411%;
    }
    &--6{
      top: 48.88%;
      left: 57.013%;
      width: 7.222%;
      height: 32.411%;
    }
    &--8{
      top: 51.2%;
      left: 66.13%;
      width: 5.622%;
      height: 22.211%;
    }
  }

  .img-banner {
    position: absolute;

    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        //transform: rotateX(0deg) rotateY(3deg);
        //transform-style: preserve-3d;
      }
    }

    &--9 {
      width: 11.2%;
      height: 8.8%;
      left: 1.35%;
      top: 66.1%;
    }

    &--10 {
      width: 10.7%;
      height: 8.8%;
      right: 2.72%;
      top: 66.1%;
    }

    &--1 {
      //background: yellow;
      width: 14.89%;
      height: 13.9%;
      right: 1.5%;
      top: 41.3%;
      //transform: rotateY(-10deg) skewy(1.25deg);
      //perspective: -40px;
    }

    &--2 {
      //background: yellow;
      width: 14.8%;
      height: 14.0%;
      left: .87%;
      top: 41.2%;
      //transform: rotateY(-10deg) skewy(-1.4deg);

    }

    &--3 {
      //background: yellow;
      width: 6.1%;
      height: 16.6%;
      left: 17%;
      top: 81.7%;
      //transform: rotateY(-10deg) skewy(-1.4deg);
    }

    &--4 {
      //background: yellow;
      width: 4.24%;
      height: 11.45%;
      left: 27.25%;
      top: 67.4%;
      //transform: rotateY(-10deg) skewy(-1.4deg);
    }

    &--5 {
      //background: yellow;
      width: 3.24%;
      height: 8.9%;
      left: 32.68%;
      top: 59.7%;
      //transform: rotateY(-10deg) skewy(-1.4deg);
    }

    &--6 {
      //background: yellow;
      width: 3.24%;
      height: 8.9%;
      right: 34.38%;
      top: 59.7%;
      //transform: rotateY(-10deg) skewy(-1.4deg);
    }

    &--7 {
      //background: yellow;
      width: 4.24%;
      height: 11.45%;
      right: 29.55%;
      top: 67.4%;
      //transform: rotateY(-10deg) skewy(-1.4deg);
    }

    &--8 {
      //background: yellow;
      width: 6.15%;
      height: 16.6%;
      right: 20.2%;
      top: 81.7%;
      //transform: rotateY(-10deg) skewy(-1.4deg);
    }
  }

  .img-hall {
    position: absolute;

    a {
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;

      }
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;

    }

    &--1 {
      width: 10.427%;
      height: 38.0%;
      top: 33.65%;
      left: 4.4%;
    }

    &--2 {
      width: 6.389%;
      height: 23.284%;
      top: 27.95%;
      left: 8.4%;
    }

    &--3 {
      width: 10.427%;
      height: 38.0%;
      top: 33.65%;
      right: 4.4%;
    }

    &--4 {
      width: 6.389%;
      height: 23.284%;
      top: 27.95%;
      right: 11.4%;
    }

    &--big {
      background: #151191;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      width: 43.1%;
      height: 38%;
      top: 33.65%;
      left: 28.4%;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $white;

        &:hover {
          text-decoration: underline;

          img {
            transform: scale(1.05, 1.05);
            transition: transform 0.3s ease;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          max-width: 179px;

          img {
            width: 4vw;
            height:4vw;
            transition: transform 0.3s ease;

            margin-bottom: 20px;
          }

          span {

            font-family: $second-font;
            font-style: normal;
            font-weight: bold;
            font-size: 1.25vw;
            line-height: 100%;

            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
          }
        }
      }
    }
  }

  .link-exhibition {
    position: absolute;

    a {
      width: 100%;
      height: 100%;
      //border: 1px solid black;
      display: inline-block;
    }

    &--1 {
      width: 21.589%;
      height: 11.284%;
      top: 25.95%;
      left: 2.1%;
    }

    &--2 {
      width: 18.589%;
      height: 6.284%;
      top: 25.55%;
      left: 38%;
    }
  }

  .mini-exhib {
    position: absolute;

    &--1 {
      top: 46.772%;
      left: 31.805%;
      width: 15.486%;
      height: 16.732%;
    }

    &--2 {
      top: 72.332%;
      left: 38.125%;
      width: 17.013%;
      height: 15.283%;
    }
    &--3 {
      top: 42.292%;
      left: 45.208%;
      width: 7.847%;
      height: 8.168%;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--4 {
      top: 65.349%;
      left: 45.208%;
      width: 7.847%;
      height: 8.168%;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    }


    a {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    video {
      width: 100%;
      height: 100%;
    }
  }

}

.exhibition-menu {
  //position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  right: 0;

}

.modal-links {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

}
.modal-links__link {
  flex-grow: 1;
  width: calc((100% / 3) - 10px);
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-bottom: 12px;
  }
  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #555770;
  }
}


.modal-hall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0;
}

.modal-hall__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;

}

.modal-hall__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 14px 11px 0 9px;
  overflow: auto;
  touch-action: auto;
  -ms-touch-action: auto;
  max-height: 575px;

  &::-webkit-scrollbar {
    display: none;
  }

}

.hall-tab {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &.active {
    display: flex;
  }
}

.hall-menu {
  width: 100%;
  max-width: 1000px;
  margin-right: 5%;

  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      background: linear-gradient(180deg, #424242 78.65%, #000000 100%);
      border-radius: 4px 4px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $second-font;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      color: $white;
      padding: 6px 10px;
      margin-right: 6px;
      transition: background-color 0.3s ease, color 0.3s ease;
      cursor: pointer;
      margin-top: 4px;

      &.active {
        background: linear-gradient(180deg, #B6D442 78.65%, #7A9220 100%);
        color: $black;
      }

      &:hover {
        transition: background-color 0.3s ease, color 0.3s ease;
        background: linear-gradient(180deg, #B6D442 78.65%, #7A9220 100%);
        color: $black;
      }
    }
  }
}

.modal-close {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  padding: 10px;
  background: #EBEBF0;
  mix-blend-mode: normal;
  border-radius: 4px;
  cursor: pointer;

  svg {
    width: 10px;
    height: 10px;

    path {
      transition: fill 0.3s ease;
      stroke: #28293D;
    }
  }

  &:hover {
    transition: background-color 0.3s ease;
    background: #B6D442;
  }
}

.hall__head {
  width: 100%;
  background: #B6D442;
  padding: 8px 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  p, h2, h3, h4, h5, h6, h1, span {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    color: #000000;
  }

  img {
    width: 25px;
    height: 25px;
    margin-right: 14px;
  }
}

.hall__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;

}

.hall__line {
  width: 100%;
  //margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 18px 14px;
  box-sizing: border-box;
  flex-shrink: 0;

  &:nth-child(even) {
    background: #EEF9E6;

    .hall__left-line {
      h1, h2, h3, h4, h5, h6 {
        color: #000000;
      }
    }
  }
}

.hall__right-line {
  background: #FFFFFF;
  border: 2px solid #E1E1E1;
  border-radius: 5px;
  padding: 24px 20px;
  box-sizing: border-box;
  margin-left: 22px;
  width: 180px;

  p {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    small {
      font-size: 18px;
      line-height: 21px;
      color: rgb(178, 179, 178);
    }
  }

  span {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    color: rgb(178, 179, 178);
    margin-bottom: 30px;
  }

  .btn {
    width: 100%;
    height: 30px;
    margin-top: auto;
  }
}

.hall__left-line {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h1, h2, h3, h4, h5, h6 {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: $green;
    margin-bottom: 8px;
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #555770;
    max-width: 780px;
    margin-bottom: 15px;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
    list-style: none;
    margin-top: auto;

    li {
      width: calc((100% / 3) - (20px / 3));
      margin-right: 10px;
      background: #FFFFFF;
      box-shadow: 0 0 1px rgba(40, 41, 61, 0.08), 0 0.5px 2px rgba(96, 97, 112, 0.16);
      border-radius: 5px;
      padding: 9px 12px;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &:last-child {
        margin-right: 0;
      }

      .img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid #EBEBF0;
        overflow: hidden;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;

        }
      }

      .text {
        flex-grow: 1;
        margin-left: 11px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        p {
          font-family: $second-font;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          color: #000000;
          margin-bottom: 4px;
        }

        span {
          font-family: $main-font;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: #555770;
          display: inline-block;
          width: 100%;
          max-width: 180px;
        }
      }
    }
  }
}

.ex-menu__links {
  width: 100%;
  max-width: 61%;

  display: flex;
  top: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.ex-menu__control {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .link {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.ex-menu__left {
  background: linear-gradient(90deg, #EBF4C8 0%, #DADADA 0.01%, #FFFFFF 14.06%);
  border: 4px solid #DDDDDD;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: 96px;
  position: absolute;
  left: 0;
  top: 24.24%;

  > ul {
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    li {
      width: 100%;
      height: 81px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      position: relative;
      transition: background-color 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-block;
        width: 73px;
        height: 1px;
        background: #C7C7C7;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      svg {
        width: 35px;
        height: 35px;

        path {
          fill: #7DB30B;
          transition: fill 0.3s ease;
        }
      }

      p {
        font-family: $second-font;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 14px;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #010101;
        transition: color 0.3s ease;
      }

      &.active {
        background: #7DB30B;

        svg {
          path {
            fill: $white;
          }
        }

        p {
          color: $white;

        }

        &::after {
          content: none;
        }
      }

      &:hover {
        background: #7DB30B;
        transition: background-color 0.3s ease;

        svg {
          path {
            fill: $white;
            transition: fill 0.3s ease;
          }
        }

        p {
          color: $white;
          transition: color 0.3s ease;

        }

        &::after {
          content: none;
        }
      }
    }

  }
}

.ex-menu__left-tabs {
  position: absolute;
  left: 100%;
  top: -4px;
  min-height: calc(100% + 8px);
  display: flex;
}

.ex-menu__tab {
  background: $white;
  border: 4px solid #EBEBF0;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 13px 22px 28px;
  flex-grow: 1;
  position: relative;

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  visibility: hidden;
  display: none;

  &.active {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

}

.ex-about__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .img {
    height: 104px;
    border: 4px solid #EEEEEE;
    box-sizing: border-box;
    width: auto;
    flex-shrink: 0;

    img {
      height: 100%;
      width: auto;
    }
  }

  .text {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 350px;
    margin-left: 9px;

    h1, h2, h3, h4, h5, h6 {
      font-family: $second-font;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 14px;
    }

    a {
      font-family: $second-font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.ex-about__content {
  width: 100%;
  margin-top: 18px;

  span {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #555770;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ex-video__tab {
  width: 100%;
  display: flex;
  height: 100%;
  padding-top: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  > span {
    font-family: $second-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
  }

}

.ex-video__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.ex-video__line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  border: 1px solid #D5D5D5;
  border-left: none;
  border-right: none;
  width: 544px;
  .img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-right: 7px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  a {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #555770;
    text-decoration: none;
    width: 100%;
    max-width: 484px;
    &:hover {
      text-decoration: underline;
    }
  }
  .btn {
    &.active {
      position: relative;
      background: $white;
      svg {
        opacity: 0.2;
      }
      &::after {
        content: '';
        display: inline-block;
        width: 19px;
        height: 12px;
        flex-shrink: 0;
        position: absolute;
        background: url("../img/check-btn.svg") no-repeat center;
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.close-tab {
  position: absolute;
  right: 4px;
  top: 4px;
  background: #EBEBF0;
  mix-blend-mode: normal;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;

  svg {
    width: 10px;
    height: 10px;

    path {
      stroke: #28293D;
    }
  }

  &:hover {
    background: #7DB30B;
    transition: background-color 0.3s ease;
  }
}

.link {
  border: 4px solid #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 5px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  height: 40px;

  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;

  svg {
    width: 16px;
    height: 16px;

    path {
      transition: fill 0.3s ease;
    }
  }

  &--grey {
    background: #E0E0E0;

    svg {
      width: 17px;
      height: 17px;
      margin-right: 12px;

      path {
        fill: #7DB30B;
      }
    }

    &:hover {
      background: #B6D442;
      color: $black;

      svg {
        path {
          fill: $black;
        }
      }
    }
  }

  &--reverse {
    svg {
      margin-right: 0;
      margin-left: 12px;
    }
  }

  &--green {
    background: #B6D442;

    svg {
      margin-right: 20px;

      path {
        fill: $black;
      }
    }

    &:hover {
      background: $white;
      color: #B6D442;

      svg {
        path {
          fill: #B6D442;
        }
      }
    }
  }
}

.change-mode {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.56);
  backdrop-filter: blur(15px);
  z-index: 2000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  svg {
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    margin-bottom: 6px;
    .animated-arrow {
      animation: animateArrow 1s ease-in-out infinite;
    }
  };
  span {
    font-size: 36px;
    font-family: $second-font;
    text-transform: uppercase;
    color: $white;
    line-height: 40px;
    text-align: center;
  }
}
@keyframes animateArrow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }

}


@import "media";
